@model WebApplication1.Model.PaymentInfo

@{
    ViewData["Title"] = "View";
}

<h4>PaymentInfo</h4>


@using (Html.BeginForm("AddPayment", "Payment"))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name, "Name is invalid", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Amount)
        @Html.EditorFor(model => model.Amount)
        @Html.ValidationMessageFor(model => model.Amount, "Amount is invalid", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Add Payment" class="btn btn-primary" />
    </div>
}




